/build
/vendor
composer.phar
composer.lock
.DS_Store
/.idea/
/.idea/.gitignore
/.idea/ConTroll.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
